header {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 30px;
  background: #fff;
}
.header {
  display: flex;
  width: 1440px;
  margin: auto;
  gap: 150px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}
.headerSearch {
  position: relative;
  padding: 15px 40px;
  border-radius: 6px;
  border: 1px solid rgba(210, 210, 210, 0.935);
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.search-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #2288dd;
  padding: 11px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}
select {
  border: 0;
  background: white;
}
select:focus {
  outline: none;
}
.search-text {
  font-size: 15px;
  color: gray;
}
.category-search {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 4px;
}
.header-right-part {
  font-size: 18px;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 40px;
}
.cart {
  position: relative;
}
.cart-number {
  position: absolute;
  top: -10px;
  right: -15px;
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 100%;
  background: #2288dd;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount {
  font-size: 20px;
  font-weight: 600;
}
.account {
  font-size: 18px;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
.account-icon {
  font-size: 20px;
  font-weight: 600;
  color: #2288dd;
}
